<section class="advertisement">
  <!-- <svg class="advertisement-line" width="" height="1">
    <use href="./img/icons.svg#icon-line"></use>
  </svg> -->
  <!-- <div class="container"> -->
  <h2 class="visually-hidden">Advertisement</h2>
  <div class="advertisement-ticker">
    <p class="advertisement-txt">
      Master <span>your photography</span> skills with us!
    </p>
    <p class="advertisement-txt">
      Master <span>your photography</span> skills with us!
    </p>
  </div>
  <!-- </div> -->
  <!-- <svg class="advertisement-line" width="" height="1">
    <use href="./img/icons.svg#icon-line-color"></use>
  </svg> -->
</section>
