<section class="courses">
  <div class="container">
    <div class="courses-about-div">
      <h2 class="courses-h2" id="courses">Our <span class="courses-span-h2">Courses</span></h2>
      <p class="courses-p">At our photography school, we offer a variety of courses that cover all aspects of this
        fascinating art. Regardless of
        your experience or skill level, we have courses to suit your needs and goals.</p>
    </div>

    <ul class="courses-list">
      <li class="courses-list-card">
        <div class="courses-card-content">
          <div class="front">
            <div class="courses-top-of-card">
              <p class="courses-card-number">01</p>

              <a href=" " class="courses-icon">
                <svg width="20" height="20" class="courses-icon-svg">
                  <use href="./img/icons.svg#icon-arrow-narrow-up-right"></use>
                </svg>
              </a>
            </div>

            <h3 class="courses-h3-card">Basics of<br> photography</h3>
            <p class="courses-p-card">During this course, you will be able to familiarize yourself with different types
              of
              cameras, learn the basics of
              composition.</p>
          </div>


          <div class="back">
            <div class="back-content">
              <div class="courses-top-of-card">
                <p class="courses-card-p-back">Bestseller</p>

                <a href=" " class="courses-icon">
                  <svg width="20" height="20" class="courses-icon-svg">
                    <use href="./img/icons.svg#icon-arrow-narrow-up-right"></use>
                  </svg>
                </a>
              </div>

              <div class="courses-card-price-back">
                <h3 class="courses-card-h3-back">Price</h3>
                <p class="courses-card-cost-back">1.500$</p>
                <p class="courses-p-card">6 months</p>
              </div>
              <div class="courses-card-mentor">
                <p class="courses-p-card">Mentor:</p>
                <p class="courses-p-card courses-card-back-mentor">Alex Lebedev</p>
              </div>
            </div>
          </div>
        </div>
      </li>

      <li class="courses-list-card">
        <div class="courses-card-content">
          <div class="front">
            <div class="courses-top-of-card">
              <p class="courses-card-number">02</p>

              <a href=" " class="courses-icon">
                <svg width="20" height="20" class="courses-icon-svg">
                  <use href="./img/icons.svg#icon-arrow-narrow-up-right"></use>
                </svg>
              </a>
            </div>

            <h3 class="courses-h3-card">Landscape<br> photography</h3>
            <p class="courses-p-card">In this course, you'll learn how to choose the right angles, frame landscapes, and
              create
              depth and perspective in your
              images.</p>
          </div>


          <div class="back-2">
            <div class="back-content">
              <div class="courses-top-of-card">
                <p class="courses-card-p-back">New</p>

                <a href=" " class="courses-icon">
                  <svg width="20" height="20" class="courses-icon-svg">
                    <use href="./img/icons.svg#icon-arrow-narrow-up-right"></use>
                  </svg>
                </a>
              </div>

              <div class="courses-card-price-back">
                <h3 class="courses-card-h3-back">Price</h3>
                <p class="courses-card-cost-back">2.200$</p>
                <p class="courses-p-card">8 months</p>
              </div>
              <div class="courses-card-mentor">
                <p class="courses-p-card">Mentors:</p>
                <p class="courses-p-card courses-card-back-mentor">Emilia Smith and Eliot Kovalev</p>
              </div>
            </div>
          </div>
        </div>
      </li>



      <li class="courses-list-card">
        <div class="courses-card-content">
          <div class="front">
            <div class="courses-top-of-card">
              <p class="courses-card-number">03</p>

              <a href=" " class="courses-icon">
                <svg width="20" height="20" class="courses-icon-svg">
                  <use href="./img/icons.svg#icon-arrow-narrow-up-right"></use>
                </svg>
              </a>
            </div>

            <h3 class="courses-h3-card">Portrait<br> photography</h3>
            <p class="courses-p-card">During this course, you will learn to choose the right lighting, reproduce the
              mood
              and expressions on the faces of the
              models.</p>
          </div>


          <div class="back-3">
            <div class="back-content">
              <div class="courses-top-of-card">
                <p class="courses-card-p-back">Sale</p>

                <a href=" " class="courses-icon">
                  <svg width="20" height="20" class="courses-icon-svg">
                    <use href="./img/icons.svg#icon-arrow-narrow-up-right"></use>
                  </svg>
                </a>
              </div>

              <div class="courses-card-price-back">
                <h3 class="courses-card-h3-back">Price</h3>
                <p class="courses-card-cost-back">2.900$</p>
                <p class="courses-p-card">10 months</p>
              </div>
              <div class="courses-card-mentor">
                <p class="courses-p-card">Mentor:</p>
                <p class="courses-p-card courses-card-back-mentor">Mia Dubrovska</p>
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>