<header>
  <!-- <nav class="nav">
    <ul class="nav-list">
      <li class="nav-item">
        <a href="./page-2.html" class="nav-link">Page 2</a>
      </li>

      <li class="nav-item">
        <a href="./page-3.html" class="nav-link">Page 3</a>
      </li>
    </ul>
  </nav> -->
  <div class="header-box container">
    <nav class="nav">
      <a class="header-logo-svg" href="./FocusFrame.html">
        <svg class="logo-svg" width="123px" height="16px">
          <use href="../img/icons.svg#icon-logo"></use>
        </svg>
      </a>
      <button
        class="menu-toggle js-open-menu"
        aria-expanded="false"
        aria-controls="mobile-menu"
      >
        <svg
          class="menu-svg"
          xmlns="http://www.w3.org/2000/svg"
          width="32"
          height="22"
          viewBox="0 0 32 22"
          fill="none"
          stroke="white"
        >
          <use href="../img/icons.svg#icon-burg-menu"></use>
        </svg>
      </button>

      <ul class="nav-list">
        <li>
          <a class="header-list" href="#">About us</a>
        </li>

        <li>
          <a class="nav-link" href="#">Our courses</a>
        </li>

        <li>
          <a class="nav-link" href="#">Our mentors</a>
        </li>

        <li>
          <a class="nav-link" href="#">Reviews</a>
        </li>

        <li>
          <a class="nav-link" href="#">Contacts</a>
        </li>
      </ul>
    </nav>

    <button class="header-button" type="button">Sign up</button>
  </div>
</header>
