<section class="hero container">
  <div class="hero-container">
    <h1 class="hero-name">
      Discover the magic of
      <span class="hero-name-photography">photography</span> in<br />
      our school
    </h1>
    <p class="hero-name-text">
      Our photography school offers an unforgettable journey, where you can
      learn the basics of composition, master technical skills, translate your
      unique ideas.
    </p>
    <div>
      <div>
        <ul class="hero-students">
          <li class="hero-students-foto">
            <img
              srcset="./img/hero-student1.png 1x, ./img/hero-student1@2x.png 2x"
              src="./img/hero-student1.png"
              alt="student1"
              loading="lazy"
            />
          </li>
          <li class="hero-students-foto">
            <img
              srcset="./img/hero-student2.png 1x, ./img/hero-student2@2x.png 2x"
              src="./img/hero-student2.png"
              alt="student2"
              loading="lazy"
            />
          </li>
          <li class="hero-students-foto">
            <img
              srcset="./img/hero-student3.png 1x, ./img/hero-student3@2x.png 2x"
              src="../img/hero-student3.png"
              alt="student3"
              loading="lazy"
            />
          </li>
        </ul>
        <p>Our happy students</p>
        <svg class="" width="18" height="8.66">
          <use href="../img/icons.svg#icon-Arrow-2Stroke"></use>
        </svg>
      </div>
      <div>
        <div>
          <svg class="" width="20" height="20">
            <use href="../img/icons.svg#icon-star"></use>
          </svg>
        </div>
        <p>Reviews</p>
        <p>+1500</p>
      </div>
    </div>
    <picture>
      <source
        media="(max-width: 768px)"
        srcset="
          ./img/src/img/hero-photographer-mob.png 1x,
          src/img/hero-photographer-mob@2x.png    2x
        "
        type="img/png"
      />
      <img
        src="./img/hero-photographer-mob.png"
        alt="photographer"
        loading="lazy"
        width="259"
        height="314"
      />
    </picture>
  </div>
</section>
