<section class="mentors" id="mentors">
  <div class="container">
    <h2 class="mentors-heading">
      Our <span class="mentors-heading-accent-color">Mentors</span>
    </h2>
    <ul class="mentors-list">
      <li class="mentors-item">
        <img
          srcset="./img/mentor1@2x.jpg 1x"
          src="./img/mentor1.jpg"
          alt="Emilia Smith"
          width="180"
          height="180"
          loading="lazy"
        />
        <div class="mentors-title">
          <h3>Emilia Smith</h3>
          <p class="mentors-content">1.5 years of experience</p>
        </div>
      </li>

      <li class="mentors-item">
        <img
          srcset="./img/mentor2@2x.jpg 1x"
          src="./img/mentor2.jpg"
          alt="Alex Lebedev"
          width="180"
          height="180"
          loading="lazy"
        />
        <div class="mentors-title">
          <h3>Alex Lebedev</h3>
          <p class="mentors-content">3.5 years of experience</p>
        </div>
      </li>

      <li class="mentors-item">
        <img
          srcset="./img/mentor3_2@2x.jpg 1x"
          src="./img/mentor3.jpg"
          alt="Mia Dubrovska"
          width="180"
          height="180"
          loading="lazy"
        />
        <div class="mentors-title">
          <h3>Mia Dubrovska</h3>
          <p class="mentors-content">2.0 years of experience</p>
        </div>
      </li>

      <li class="mentors-item">
        <img
          srcset="./img/mentor4@2x.jpg 1x"
          src="./img/mentor4.jpg"
          alt="Eliot Kovalev"
          width="180"
          height="180"
          loading="lazy"
        />
        <div class="mentors-title">
          <h3>Eliot Kovalev</h3>
          <p class="mentors-content">4.0 years of experience</p>
        </div>
      </li>
    </ul>
  </div>
</section>
