<section class="mentors" id="mentors">
  <div class="container">
    <h2 class="mentors-heading">Our <span class="mentors-heading-accent-color">Mentors</span></h2>
    <ul class="mentors-list">
      <li class="mentors-item">
        <img  srcset="./img/mentor1@2x.jpg 1x"
              src="./img/mentor1.jpg"
              alt="Emilia Smith"
              width="180"
              height="180"
              loading="lazy">
        <P class="mentors-title">
          Emilia Smith
          <span class="mentors-content">1.5 years of experience</span>
        </P>
      </li>

      <li class="mentors-item">
        <img srcset="./img/mentor2@2x.jpg 1x" 
              src="./img/mentor2.jpg" 
              alt="Alex Lebedev" 
              width="180" 
              height="180"
              loading="lazy">
        <P class="mentors-title">
          Alex Lebedev
          <span class="mentors-content">3.5 years of experience</span>
        </P>
        
      </li>

      <li class="mentors-item">
        <img srcset="./img/mentor3_2@2x.jpg 1x"
              src="./img/mentor3.jpg" 
              alt="Mia Dubrovska" 
              width="180" 
              height="180"
              loading="lazy">
        <P class="mentors-title">
          Mia Dubrovska
          <span class="mentors-content">2.0 years of experience</span>
        </P>
        
      </li>

      <li class="mentors-item">
        <img srcset="./img/mentor4@2x.jpg 1x" 
              src="./img/mentor4.jpg" 
              alt="Eliot Kovalev" 
              width="180" 
              height="180"
              loading="lazy">
        <P class="mentors-title">
          Eliot Kovalev
          <span class="mentors-content">4.0 years of experience</span>
        </P>
        
      </li>
    </ul>
  </div>
</section>

