<div class="mob-menu-shadow js-menu-container">
  <div class="menu-container mob-menu-background" id="mobile-menu">
    <button class="menu-toggle js-close-menu">
      <svg width="32" height="32" class="mob-menu-close">
        <use class="mob-menu-icon-close" href="./img/icons.svg#icon-x"></use>
      </svg>
    </button>
    <div class="mob-menu-jc">
      <ul class="mob-menu-style">
        <li><a class="mob-menu-item" href="#about">About us</a></li>
        <li><a class="mob-menu-item" href="#courses">Our courses</a></li>
        <li><a class="mob-menu-item" href="#mentors">Our mentors</a></li>
        <li><a class="mob-menu-item" href="#reviews">Reviews</a></li>
        <li><a class="mob-menu-item" href="#contacts">Contacts</a></li>
      </ul>
      <picture class="mob-menu-width">
        <source
          media="(min-width: 768px)"
          srcset="./img/mob-menu-tab.jpg 1x, ./img/mob-menu-tab@2x.jpg 2x"
          type="image/jpeg"
        />
        <source
          media="(min-width: 768px)"
          srcset="./img/mob-menu-tab.webp 1x, ./img/mob-menu-tab@2x.webp 2x"
          type="image/webp"
        />
        <source
          media="(max-width: 767.99px)"
          srcset="./img/mob-menu-mob.jpg 1x, ./img/mob-menu-mob@2x.jpg 2x"
          type="image/jpeg"
        />
        <source
          media="(max-width: 767.99px)"
          srcset="./img/mob-menu-mob.webp 1x, ./img/mob-menu-mob@2x.webp 2x"
          type="image/webp"
        />
        <img src="./img/mob-menu-mob.jpg" alt="camera" />
      </picture>
    </div>
  </div>
</div>
<script
  defer
  src="https://cdnjs.cloudflare.com/ajax/libs/body-scroll-lock/3.1.5/bodyScrollLock.min.js"
  integrity="sha512-HowizSDbQl7UPEAsPnvJHlQsnBmU2YMrv7KkTBulTLEGz9chfBoWYyZJL+MUO6p/yBuuMO/8jI7O29YRZ2uBlA=="
  crossorigin="anonymous"
></script>
