<section class="reviews">
  <div class="container">
    <h2 id="reviews" class="reviews-title">Reviews</h2>

    <ul class="reviews-item">
      <li class="list-reviews-cart">
        <div class="reviews-person">
          <div class="user-foto">
            <img
              class="user-foto-img"
              srcset="./img/user1.jpg 1x, ./img/user1@2x.jpg 2x"
              alt="Abraham Baker"
              width="56"
              height="56"
            />
          </div>
          <div class="reviews-person-name">
            <div>
              <h3 class="reviews-name">Abraham Baker</h3>
              <p class="reviews-status">Student</p>
            </div>
            <ul class="stars-set">
              <li>
                <svg class="icon-reviews-stars" width="20" height="20">
                  <use href="./img/icons.svg#icon-star"></use>
                </svg>
              </li>
              <li>
                <svg class="icon-reviews-stars" width="20" height="20">
                  <use href="./img/icons.svg#icon-star"></use>
                </svg>
              </li>
              <li>
                <svg class="icon-reviews-stars" width="20" height="20">
                  <use href="./img/icons.svg#icon-star"></use>
                </svg>
              </li>
              <li>
                <svg class="icon-reviews-stars" width="20" height="20">
                  <use href="./img/icons.svg#icon-star"></use>
                </svg>
              </li>
              <li>
                <svg class="icon-reviews-s" width="20" height="20">
                  <use href="./img/icons.svg#icon-star"></use>
                </svg>
              </li>
            </ul>
          </div>
        </div>
        <p class="reviews-item">
          I am very pleased that I decided to enroll in photography school. 
          The teachers turned out to be very talented and experienced professionals who share their knowledge and are dedicated to their work. 
          I was able to expand my skills and discover my own style.
        </p>
      </li>

      <li class="list-reviews-cart">
        <div class="reviews-person">
          <div class="user-foto">
            <img
              class="user-foto-img"
              srcset="./img/user2.jpg 1x, ./img/user2@2x.jpg 2x"
              alt="Amanda Lowery"
              width="56"
              height="56"
            />
          </div>
          <div class="reviews-person-name">
            <div>
              <h3 class="reviews-name">Amanda Lowery</h3>
              <p class="reviews-status">Student</p>
            </div>
            <ul class="stars-set">
              <li>
                <svg class="icon-reviews-stars" width="20" height="20">
                  <use href="./img/icons.svg#icon-star"></use>
                </svg>
              </li>
              <li>
                <svg class="icon-reviews-stars" width="20" height="20">
                  <use href="./img/icons.svg#icon-star"></use>
                </svg>
              </li>
              <li>
                <svg class="icon-reviews-stars" width="20" height="20">
                  <use href="./img/icons.svg#icon-star"></use>
                </svg>
              </li>
              <li>
                <svg class="icon-reviews-stars" width="20" height="20">
                  <use href="./img/icons.svg#icon-star"></use>
                </svg>
              </li>
              <li>
                <svg class="icon-reviews-s" width="20" height="20">
                  <use href="./img/icons.svg#icon-star"></use>
                </svg>
              </li>
            </ul>
          </div>
        </div>
        <p class="reviews-item">
          The courses at the photography school exceeded all my
          expectations. I gained not only technical knowledge, but also
          inspiration and motivation to reach new heights in my creativity.
          Hands-on classes and workshops helped me understand different
          styles of photography.
        </p>
      </li>
    </ul>
  </div>
</section>
