<section class="sign">
  <div class="container">
    <h2>Sign Up</h2>
    <p>Please use the form below to contact us. Enter your name, email, and message and we'll get back to you shortly.
    </p>
    <form class="sign-up-form" name="sign_up_form">
      <div class="sign-up-field">
        <input 
        id="user-name"
        class="form-input"
        type="text"
        name="user-name"
        placeholder="Enter your name"/>
      </div>

      <div class="sign-up-field">
        <input 
        id="user-email"
        class="form-input"
        type="email"
        name="email"
        placeholder="Enter your email"/>
      </div>

      <div class="sign-up-field">
        <textarea
        id="user-comment"
        class="form-input-comment"
        name="user-comment"
        rows="5"
        placeholder="Message"
        ></textarea>
      </div>

      <button class="modal-button-send" type="submit">Send</button>
      <label class="modal-form-agreement" for="user-privacy">
        By clicking on “Send” button, you agree to our 
        <a class="policy-link" href="/">Privacy Policy</a>
        and allow Promodo to use this information for marketing purposes.
      </label>

    </form>

    <div class="img-objective">
      <img 
      srcset="./img/sign-up-objective-desk.png 1x, ./img/sign-up-objective-desk@2x.png 2x"
      src="./img/sign-up-objective-desk.png" 
      alt="Objective"
      width="150"
      height="142"
      loading="lazy">
    </div>

    <div class="img-camera">
      <img 
      srcset="./img/sign-up-camera-desk.png 1x, ./img/sign-up-camera-desk@2x.png 2x"
      src="./img/sign-up-camera-desk.png" 
      alt="Camera"
      width="240"
      height="296"
      loading="lazy">
    </div>

  </div>
</section>
