<section class="sign">
  <div class="container">
    <div class="sign-up-container">
      <h2 class="title" id="sign">Sign <span class="title-second">Up</span></h2>
      <p class="supporting-text">
        Please use the form below to contact us. Enter your name, email, and
        message and we'll get back to you shortly.
      </p>
      <form class="sign-up-form" name="sign_up_form">
        <div class="sign-up-field">
          <label for="user-name">
            <input
              class="form-input"
              id="user-name"
              type="text"
              name="user-name"
              placeholder="Enter your name"
            />
          </label>
        </div>

        <div class="sign-up-field">
          <label for="user-email">
            <input
              class="form-input"
              id="user-email"
              type="email" 
              pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
              name="email"
              placeholder="Enter your email"
            />
          </label>
        </div>

        <div class="sign-up-field">
          <label for="user-comment">
            <textarea
              class="form-input-comment"
              id="user-comment"
              name="user-comment"
              rows="5"
              placeholder="Message"
            ></textarea>
          </label>
        </div>

        <button class="button-send" type="submit">Send</button>
        <p class="form-agreement">
          By clicking on &#8220;Send&#8221; button, you agree to our
          <a class="policy-link" href="/">Privacy Policy</a>
          and allow Promodo to use this information for marketing purposes.
        </p>
      </form>
    </div>

    <div class="equipment">
      <div class="img-objective">
        <img
          class="obj-img"
          srcset="
            ./img/sign-up-objective-desk.png 1x,
            ./img/sign-up-objective-desk@2x.png 2x
          "
          src="./img/sign-up-objective-desk.png"
          alt="Objective"
          width="150"
          height="142"
          loading="lazy"
        />
      </div>

      <div class="img-camera">
        <img
          class="cmr-img"
          srcset="
            ./img/sign-up-camera-desk.png 1x,
            ./img/sign-up-camera-desk@2x.png 2x
          "
          src="./img/sign-up-camera-desk.png"
          alt="Camera"
          width="240"
          height="296"
          loading="lazy"
        />
      </div>
    </div>
  </div>
</section>
