.advertisement {
  overflow: hidden;
  font-family: var(--main-font);

  font-weight: 600;
  font-size: 34px;
  text-transform: uppercase;
  background-color: #ffdc00;
}

.advertisement-ticker {
  display: flex;
}

.advertisement-txt {
  flex-shrink: 0;
  margin: 0;
  padding: 10px 15px;
  min-width: 100%;
  white-space: nowrap;
  animation-name: advertisementTicker;
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes advertisementTicker {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}
