.courses-about-div {
  margin-bottom: 40px;
}

.courses-span-h2 {
  color: var(--accent-color);
}

.courses-p {
  font-size: 14px;
  font-weight: 400;
  color: var(--light-color);
  margin-top: 20px;
  line-height: 1.28;
  letter-spacing: -0.02em;
}

.courses-list {
  display: flex;
  gap: 20px;
  flex-direction: column;
  margin-bottom: 80px;
}

.courses-list-card {
  padding: 28px;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.20);
  background: linear-gradient(180deg, #060707 0%, #1D1D1D 100%);
}

.courses-top-of-card {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 28px;
}

.courses-icon {
  width: 32px;
  height: 32px;
  align-items: center;
  background-color: var(--secondary-dark-color);
  display: flex;
  justify-content: center;
  border-radius: 50%;
}

.courses-icon-svg {
  stroke: #777777;
  fill: rgba(0, 0, 0, 0);
}

.courses-h3-card {
  margin-bottom: 164px;
}

.courses-p-card {
  opacity: 0.5;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.28;
  letter-spacing: -0.02em;
}

.courses-card-number {
  opacity: 0.4;
}

@media (min-width: 768px) {
  .courses-about-div {
    margin-bottom: 50px;
    display: flex;
    gap: 58px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .courses-p {
    margin-top: 0;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: -0.02em;
    width: 381px;
  }

  .courses-list-card {
    /* width: 342px; */
    width: calc((100% - 20px) / 2);
    padding: 32px;
  }

  .courses-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 100px;
  }

  .courses-top-of-card {
    margin-bottom: 32px;
  }

  .courses-h3-card {
    margin-bottom: 180px;
  }

  .courses-p-card {
    font-size: 16px;
    line-height: 1.25;
  }
}

@media (min-width: 1280px) {
  .courses-p {
    width: 405px;
  }

  .courses-list-card {
    /* width: 347px; */
    width: calc((100% - 40px) / 3);
  }

  .courses-list {
    flex-wrap: nowrap;
    margin-bottom: 150px;
  }
}

@media (min-width: 1440px) {
  .courses-p {
    width: 565px;
  }

  .container {
    max-width: 1440px;
  }

  .courses-icon:hover,
  .courses-icon:focus {
    background-color: var(--accent-color);

    .courses-icon-svg {
      stroke: var(--light-color);
    }
  }
}