.hero {
  background-image: url(../img/net.png);
  padding-bottom: 150px;
  background-repeat: repeat;
  background-size: 100% 100%;
}
.hero-container {
  max-width: 335px;
  background-color: var(--secondary-dark-color);
  border-radius: 30px;
  padding: 0 20px;
}
@media screen and (min-width: 768px) {
  .hero-container {
    max-width: 704px;
    padding: 0 32px;
  }
}
@media screen and (min-width: 1280px) {
  .hero-container {
    max-width: 1080px;
    display: flex;
    gap: 20px;
    padding: 0 50px;
  }
  .hero-container-for-position {
    display: block;
    max-width: 563px;
  }
}
.hero-name {
  color: var(--light-color);
  font-size: 40px;
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: -0.04em;
  padding: 40px 0 20px 0;
}
.hero-name-photography {
  color: var(--accent-color);
  font-style: italic;
  font-weight: 400;
}
@media screen and (min-width: 768px) {
  .hero-name {
    font-size: 60px;
    line-height: 1.07;
    max-width: 517px;
    padding-top: 64px;
    padding-bottom: 20px;
  }
}
@media screen and (min-width: 1280px) {
  .hero-name {
    font-size: 64px;
    line-height: 1.06;
    max-width: 563px;
    padding-top: 60px;
  }
}
.hero-name-text {
  color: var(--light-color);
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  padding-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .hero-name-text {
    width: 450px;
    padding-right: 0px;
  }
}
@media screen and (min-width: 1280px) {
  .hero-name-text {
    width: 418px;
    padding-bottom: 136px;
  }
}
.hero-elements {
  display: flex;
  gap: 40px;
  margin-bottom: 31px;
}
@media screen and (min-width: 768px) {
  .hero-elements {
    gap: 135px;
    margin-bottom: 40px;
  }
}
.hero-students {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 107px;
  height: 84px;
}
@media screen and (min-width: 768px) {
  .hero-students {
    width: 135px;
    padding: 0;
  }
}

.hero-students-foto {
  position: absolute;
  display: flex;
  width: 44px;
  height: 44px;
}
@media screen and (min-width: 768px) {
  .hero-students-foto {
    width: 54px;
    height: 54px;
  }
}

.hero-students-foto:nth-child(1) {
  z-index: 3;
}
.hero-students-foto:nth-child(2) {
  z-index: 2;
  left: 33px;
}
@media screen and (min-width: 768px) {
  .hero-students-foto:nth-child(2) {
    left: 40px;
  }
}

.hero-students-foto:nth-child(3) {
  z-index: 1;
  left: 66px;
}
@media screen and (min-width: 768px) {
  .hero-students-foto:nth-child(3) {
    left: 80px;
  }
}
.hero-students-text {
  color: var(--light-color);
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.04em;
}
@media screen and (min-width: 768px) {
  .hero-students-text {
    font-size: 16px;
    line-height: 1.25;
  }
}
.hero-container-text {
  width: 89px;
  margin-top: auto;
  display: flex;
  align-items: center;
  gap: 4px;
  justify-content: flex-start;
}
@media screen and (min-width: 768px) {
  .hero-container-text {
    flex-direction: column;
    margin-top: 0;
    margin-left: 147px;
    width: 82px;
    gap: 8px;
    align-items: flex-start;
  }
}
.hero-arrow {
  fill: var(--light-color);
}

.hero-reviews {
  display: flex;
  gap: 12px;
}
.hero-reviews-text {
  display: flex;
  gap: 8px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.hero-star-container {
  background-color: var(--accent-color);
  border-radius: 100px;
  width: 44px;
  height: 44px;
}
.hero-star {
  margin: 12px 12px;
  width: 20px;
  height: 20px;
  fill: var(--accent-color);
  stroke: var(--primary-dark-color);
}
.hero-reviews-word {
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  line-height: 1.25;
  letter-spacing: -0.04em;
}
.hero-reviews-number {
  color: var(--light-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.25;
  letter-spacing: -0.04em;
}
.hero-photographer {
  margin: 0 auto 0 auto;
}
@media screen and (min-width: 768px) {
  .hero-photographer {
    width: 393px;
    height: 434px;
  }
}
@media screen and (min-width: 1280px) {
  .hero-photographer {
    width: 397px;
    height: 520px;
    margin-left: auto;
    margin-top: 80px;
  }
}
