.menu-container {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 40px;
  padding-right: 0;
  background-color: var(--white-background-color);
  z-index: 999;
  transform: translateX(100%);
  transition: transform 250ms var(--transition-cub);
}
