:root {
  --main-font: DM Sans, sans-serif;

  --primary-dark-color: #121212;
  --secondary-dark-color: #1d1d1d;
  --third-dark-color: #060707;
  --accent-color: #bea69e;
  --light-color: #fff;

  --transition-cub: cubic-bezier(0.4, 0, 0.2, 1);

  /* font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%; */
}
